*{
    margin: 0px;
    padding: 0px;
}

.icone{
    width:25px;
    height:25px;
    margin-right:10px;
}

header{
    display:flex;
    background-color: mediumvioletred;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

header .cabecalho{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav{
    width:200px;
    display:flex;
    background-color: #f2d0e0;
    justify-content:space-between;
    padding:10px;

}

nav .button{
    display:flex;
    margin: 7px;
}

nav .button div{
    width:100%;
    
    display:flex;
}

footer{
    background-color:mediumvioletred;
    height:60px;
    width:100vw;
    position: absolute;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    

}